<footer>
    <div class="grid">
        <div> </div>
        <div class="center txt_center marquee">
            <div>
                <span class="lb_x1_5">Are you ready</span>
                <span class="lb_x1_5">-</span>
                <span class="lb_x1">AC/DC</span>
            </div>
        </div>
        <div class="center txt_center">
           <i class="lb_x2_5 icon_button_item_2_5 fas fa-play-circle"></i>
        </div>               
    </div>
    <nav>
        <div class="txt_center center center_h_v">
            <div class="grid_x1 icon_footer icon_button_item">
                <i class="lb_x1_5  fas fa-home"></i>
                <span class="lb_x1">Inicio</span>
            </div>
        </div>                
        <div class="txt_center center center_h_v">
            <div class="grid_x1 icon_footer icon_button_item">
                <i class="lb_x1_5  fas fa-search "></i>
                <span class="lb_x1 ">Buscar</span>
            </div>
        </div>
        <div class="txt_center center center_h_v">                    
                <div class="grid_x1 icon_footer icon_button_item">
                <i class="lb_x1_5 fas fa-folder-open"></i>
                 <span class="lb_x1">Sua Biblioteca</span>
            </div>
        </div> 
    </nav>              
</footer>