<footer>
  <div class="grid">
      <div> </div>
      <div class="center txt_center marquee">
          <div>
              <span class="lb_x1_5">Are you ready</span>
              <span class="lb_x1_5">-</span>
              <span class="lb_x1">AC/DC</span>
          </div>
      </div>
      <div class="center txt_center">
          <span class="lb_x2_5"><i class="fas fa-play-circle"></i></span>
      </div>               
  </div>
  <nav>
      <div class="grid_x1 center txt_center">
          <span class="lb_x1_5"><i class="fas fa-home"></i></span>
          <span class="lb_x1">Inicio</span>
      </div>
      <div class="grid_x1 center txt_center">
              <span class="lb_x1_5"><i class="fas fa-search"></i></span>
              <span class="lb_x1">Buscar</span>
      </div>
      <div class="grid_x1 center txt_center">
          <span class="lb_x1_5"><i class="fas fa-folder-open"></i></span>
          <span class="lb_x1">Sua Biblioteca</span>
      </div> 
  </nav>              
</footer>