<div class="main_item">
  <div class="grid_x1">
      <div>            
          <span class="lb_x1_5">{{Music.Musica}}</span>
      </div>
      <div>
          <span class="lb_x1">{{Music.Artista}}</span>
      </div>
  </div>
  <div class="center txt_center">       
      <button (click)="addFila(Music)">aqui</button>
        <span class="lb_x1_5"><i class="fas fa-plus-circle"></i></span>
  </div>
  <div class="center txt_center">
      <span class="lb_x1_5"><i class="fas fa-ellipsis-v"></i></span>
  </div>
</div>